 input{
    height: 3em;
    width: 100%;

    background: #FFFFFF;
    border: 2px solid #5D6266;
    border-radius: 10px;
    color: #555759;
    font-size: 1em;
    outline-color: #1F2833;
}

input[value]{
    padding-left: 0.4em;
    font-weight: 500;
}

input[id="confirm-order"]{
    width: 20em;
}

.bg-form{
  background-color:#222629;
  border-top: 1px dotted #228833;
  background-image: linear-gradient(#222629, #222649);
}

.card{
    /* border: 4px solid #45A29E; */
    background-color: #1F2833;
    color: white;
}

.card img{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

li>a{
  color: #1F2833;
}

li>a:hover{
  text-decoration: none;
  color: #555759
}

tr>td:first-child{
  font-weight: 600;
}