a[class="navbar-brand"]{
  color: black !important;
}

a{float: right;}

button>a{
  text-decoration: none;
  color: white;
}

button>a:hover{
  text-decoration: none;
  color: white;
}

h3{color: #AFD275;}

h6{color:white;}

input{
  height: 3em;
  width: 100%;

  background: #FFFFFF;
  border: 2px solid #5D6266;
  border-radius: 10px;
  color: #555759;
  font-size: 1em;
  outline-color: #1F2833;
}

input[placeholder]{
    padding-left: 0.4em;
}

img{
  padding: 4%;
  height: 250px;
}

li>a{
  color: #1F2833;
}

li>a:hover{
  text-decoration: none;
  color: #555759
}

.container{
  margin: 4% auto 4% auto;
  height: 100vh;
}

.card{
  padding: 0;
}

.card img{
  background-color: #e0ebeb;
}

tr>td:first-child{
  font-weight: 600;
}