h3{
    color: #AFD275;
}

h6, p{
    color: white;
}

input{
    height: 3em;
    width: 100%;
    margin-top: 0.5em;

    background: #FFFFFF;
    border: 2px solid #5D6266;
    border-radius: 10px;
    color: #555759;
    font-size: 1em;
    outline-color: #1F2833;
}

input[placeholder]{
    padding-left: 0.4em;
}

.btn{
    width: 25%;
}

@media only screen and (max-width: 768px){
    .btn{
        width: 60%;
    }
}