body{
    background-color: #1F2833;
    font-size: 14px;
}

h3{color: #AFD275;}

h6, p{color:white;}

a{
    color: #AFEBB3F7;
    /* font-weight: bold; */
    font-size: 0.9em;
    margin-top: 0.5em;
}

a:hover{
    color: #AFEBB3F7;
    text-decoration: underline;
    cursor: pointer;
}

input{
    height: 3em;
    width: 100%;
    margin-top: 0.5em;

    background: #FFFFFF;
    border: 2px solid #5D6266;
    border-radius: 10px;
    color: #555759;
    font-size: 1em;
    outline-color: #1F2833;
}

input[placeholder]{
    padding-left: 0.4em;
}

.btn{
    width: 40%;
}

@media only screen and (max-width: 768px){
    .btn{
        width: 60%;
    }
}