a[class="navbar-brand"]{
  color: black !important;
}

a{
  color: #AFEBB3F7;
}

a:hover{
    color: #AFEBB3F7;
    text-decoration: underline;
    cursor: pointer;
}

h3{color: #AFD275;}

h6, p{color:white;}

input{
  height: 3em;
  width: 100%;

  background: #FFFFFF;
  border: 2px solid #5D6266;
  border-radius: 10px;
  color: #555759;
  font-size: 1em;
  outline-color: #1F2833;
}

input[placeholder]{
    padding-left: 0.4em;
}

li>a{
  color: #1F2833;
}

li>a:hover{
  text-decoration: none;
  color: #555759
}

.container{
  margin: 2% auto 4% auto;
}